// light theme
$main_bg:#F8F2E5;
$main-navbar:#61A68A;
$font-normal:#3333;
$font-second:#6666;
$button-deeper:#B96C58;
$button-lighter:#F8F8F8;

//dark theme
$main_bg-dark:#676565;
// $main-navbar-dark:

//hover, focus
$main-hover:#438C6F;

//detail 
$detail_font:#b7b0b0;

